<div class="d-none d-md-block d-lg-block d-xl-block">
	<p style="color: #2ca0c9; font-weight: 700;">OUTRAS ENTREGAS</p>

	<!-- OUTRAS ENTREGAS -->

	<div class="row-content" style="border-bottom: 1px solid #ddd; padding-bottom: 1em; padding-top: 1em">
		<div class="col-md-6">
			<a href="https://www.gov.br/governodigital/pt-br/sisp/ptd-plano-de-transformacao-digital">
				<img src="https://www.gov.br/governodigital/pt-br/sisp/guia-do-gestor/@@govbr.institucional.tile.nitf/d8038907-e77f-4277-8ee9-140d8dc9dcbf/@@images/5f16152a-ea50-4e03-a119-ce0b5f03e082.jpeg" class="w-100">
			</a>
		</div>
		<div class="col-md-6">
			<a style="color: #333; text-decoration: none;" href="https://www.gov.br/governodigital/pt-br/sisp/ptd-plano-de-transformacao-digital">
				PTD - Plano de Transformação Digital
			</a>
		</div>
	</div>

	<div class="row-content" style="border-bottom: 1px solid #ddd; padding-bottom: 1em; padding-top: 1em">
		<div class="col-md-6">
			<a href="https://www.gov.br/governodigital/pt-br/sisp/plano-diretor-de-tic">
				<img src="https://www.gov.br/governodigital/pt-br/sisp/guia-do-gestor/@@govbr.institucional.tile.nitf/e9db7350-755e-404c-b9f7-4abcf360b010/@@images/7ab2afa5-b8c7-443b-8e18-bcc839c744be.jpeg" class="w-100">
			</a>
		</div>
		<div class="col-md-6">
			<a style="color: #333; text-decoration: none;" href="https://www.gov.br/governodigital/pt-br/sisp/plano-diretor-de-tic">
				Plano Diretor de TIC
			</a>
		</div>
	</div>

	<div class="row-content" style="border-bottom: 1px solid #ddd; padding-bottom: 1em; padding-top: 1em">
		<div class="col-md-6">
			<a href="https://www.gov.br/governodigital/pt-br/sisp/plano-de-gestao-estrategica-e-transformacao-institucional-pgt">
				<img src="https://www.gov.br/governodigital/pt-br/sisp/guia-do-gestor/@@govbr.institucional.tile.nitf/ff6aaf21-904d-42a1-892e-92e44a8dba01/@@images/53bfeb38-cd3f-43d3-a060-7e79707e154f.jpeg" class="w-100">
			</a>
		</div>
		<div class="col-md-6">
			<a style="color: #333; text-decoration: none;" href="https://www.gov.br/governodigital/pt-br/sisp/plano-de-gestao-estrategica-e-transformacao-institucional-pgt">
				Plano de Gestão Estratégica e Transformação Institucional - PGT
			</a>
		</div>
	</div>
</div>

<!-- CARD LEGISLAÇÃO -->

<p style="color: #2ca0c9; font-weight: 600; margin-top: 2em;" class="d-none d-md-block d-lg-block d-xl-block">Legislação <i class="fas fa-chevron-right" style="padding-left:20px; color: #2ca0c9;"></i></p> 

<div style="background: #FFFFFF;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px 10px #ededed;
	border-radius: 10px;
	padding: 2em;">
	
	<div class="row-content">
		<div class="col-md-8">
			<p style="color: #247d9d;
    font-size: 2em;
    font-weight: 400;">Normativo de referência ou complementar / Implantação</p>
		</div>
		<div class="col-md-4" style="z-index: 1;">
			<img src="https://raw.githubusercontent.com/souzanato/jornada-do-gestor/main/img/justice_and_law_isometric_illustration-03-500.png" class="w-100">
		</div>
		<div class="col-md-12" style="    border-top: 10px solid #9fd6ea;
    margin-top: -6em; padding-top: 2em;">
    	<div class="row-content">
    		<div class="col-md-4">
					<a style="color: #247d9d;
				    font-size: 1em;
				    font-weight: 700;
				    text-decoration: none;">Instrução Normativa Nº 1, de 4 de Abril de 2019</a>
				  <p>
				  	Dispõe sobre o processo de contratação de soluções de Tecnologia da Informação e Comunicação - TIC pelos órgãos e entidades integrantes do Sistema de Administração dos Recursos de Tecnologia da Informação - SISP do Poder Executivo Federal.
				  </p>
    		</div>
    		<div class="col-md-4">
					<a style="color: #247d9d;
				    font-size: 1em;
				    font-weight: 700;
				    text-decoration: none;">Acórdão TCU 1.603/2008</a>
				  <p>
				  	Levantamento de auditoria. Situação da governança de tecnologia da informação - TI na Administração Pública Federal. Ausência de Planejamento Estratégico Institucional. Deficiência na estrutura de pessoal. Tratamento inadequado à confidencialidade, integridade e disponibilidade das informações. Recomendações"
				  </p>
    		</div>
    	</div>
    </div>
	</div>
</div>


<!-- VIDEO -->

<div style="    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;">
  <iframe style="position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;" src="https://www.youtube.com/embed/RU5liQ-eegs?version=3&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;mute=1&amp;loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<!-- MANUAIS -->

<p style="color: #2ca0c9; font-weight: 600; margin-top: 2em;"  class="d-none d-md-block d-lg-block d-xl-block"><i class="fas fa-chevron-left" style="padding-right:20px; color: #2ca0c9;"></i> Manuais </p> 

<div style="background: #FFFFFF;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px 10px #ededed;
	border-radius: 10px;
	padding: 2em;">
	
	<div class="row-content">
		<div class="col-md-8">
			<p style="color: #247d9d;
    font-size: 2em;
    font-weight: 400;">Manuais</p>
		</div>
		<div class="col-md-4" style="z-index: 1;">
			<img src="https://raw.githubusercontent.com/souzanato/jornada-do-gestor/main/img/justice_and_law_isometric_illustration-03-500.png" class="w-100">
		</div>
		<div class="col-md-12" style="    border-top: 10px solid #9fd6ea;
    margin-top: -6em; padding-top: 2em;">
    	<div class="row-content">
    		<div class="col-md-4">
					<a style="color: #247d9d;
				    font-size: 1em;
				    font-weight: 700;
				    text-decoration: none;">Manual sobre Plano Estratégico de TIC</a>
				  <p>
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				  </p>
    		</div>
    		<div class="col-md-4">
					<a style="color: #247d9d;
				    font-size: 1em;
				    font-weight: 700;
				    text-decoration: none;">Outro Manual importante sobre PETIC</a>
				  <p>
				  	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				  </p>
    		</div>
    	</div>
    </div>
	</div>
</div>
	

<div class="row-content" >
	<div class="col-md-12" style="padding-bottom: 1em;">
		<p style="color: #247d9d;
    font-size: 2em;
    font-weight: 400;">Templates</p>
	</div>

	<div class="col-md-6" >
		<div class="row-content" style="
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;	
	border-radius: 10px;
	padding: 2em;">
			<div class="col-md-2"><i class="far fa-file-alt" style="font-size: 4em; color: #247d9d;"></i></div>
			<div class="col-md-10 my-auto" style="font-weight: 600; color: #247d9d;">Template sobre PETIC Versão 1 disponivel no link</div>
		</div>
	</div>
	<div class="col-md-6" >
		<div class="row-content" style="
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;	
	border-radius: 10px;
	padding: 2em;">
			<div class="col-md-2"><i class="far fa-file-alt" style="font-size: 4em; color: #247d9d;"></i></div>
			<div class="col-md-10 my-auto" style="font-weight: 600; color: #247d9d;">PETIC FORM no Google Docs</div>
		</div>
	</div>

</div>
